<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Server Lode</title>
</head>
<body>
    <h2>numero frame -> slide</h2>

    <% if (list !== undefined) { %>
        <% for (let i in list) {%>
            <p>i</p>
        <% } %>
    <% } else { %>
        <p>List undefined</p>
    <% }; %>
</body>
</html>